:root {
    --colorPrincipal: #394853;
    --colorPrincipalHover: #344434;
    --colorText: #474;
}

/*cuerpo general*/
body {
    display: flex;
    background-color: aqua;
    height: 180vh;
    justify-content: center;
}
h1{
    background-color: aliceblue;
    border-radius: 30px;
    text-decoration:underline;
    text-align: center;
}

/*formularios*/
.camp {
    margin-bottom: 25px;
    position:relative;
}
/* Inputs, textarea i select */
.camp textarea,
.camp select {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 10px 12px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.camp textarea {
  resize: vertical;
  min-height: 100px;
}

.camp select:focus,
.camp textarea:focus {
  border-color: var(--colorPrincipal);
  outline: none;
}
/* Quan el camp té focus o text escrit */
.camp:has(input[type="text"]:focus) .floating {
  color: var(--colorPrincipal) !important;
  font-size: 12px;
  top: -8px;
}
/* Quan el camp té focus o text (només per textarea) */
.camp:has(textarea:focus) .floating,
.camp textarea:not(:placeholder-shown) + .floating {
  color: var(--colorPrincipal);
  font-size: 12px;
  top: -10px;
}
/* Fletxa decorativa per select simple */
.camp select:not([multiple]) {
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #888 50%),
    linear-gradient(135deg, #888 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 18px) calc(50% - 3px),
    calc(100% - 12px) calc(50% - 3px),
    calc(100% - 30px) 0;
  background-size: 6px 6px, 6px 6px, 1px 100%;
  background-repeat: no-repeat;
  padding-right: 36px;
}

/* Select múltiple */
.camp select[multiple] {
  height: auto;
  padding-right: 10px;
}
/* Text d’ajuda sota el múltiple */
.ajuda {
  margin-top: 6px;
  font-size: 13px;
  color: #666;
}


/* Label flotant */
.floating {
  background: turquoise;
  border-radius: 12px;
  color: #000000;
  font-size: 14px;
  left: 10px;
  padding:  2px;
  pointer-events: none;
  position:absolute;
  top: -20px;
  transition: all 0.3s ease;
}
/* Label fix per als SELECT — sempre flotant */
.floating.fixed {
  color: var(--colorPrincipal);
  background-color: turquoise;
  font-size: 12px;
  top: -20px;
}

form.formulari {
    background: turquoise;
    border-radius: 15px;
    box-shadow: #344434;
    padding: 30px 40px
}
.grup {
    margin-bottom: 25;
    position:relative;
}



/* === Botó === */
button {
    background: var(--colorPrincipal);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s ease;
    width: 100%;
}

button:hover {
    background: var(--colorPrincipalHover);
}